<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>chat-使用新浪微博登录</title>
</head>

<body id="login" onload="" style="background: url('/static/img/background.png')">
  <div style="height:200px;clear:both"></div>
  <div  style=" margin:auto;background: url('/static/img/bg_login.png') no-repeat; width:391px;height:278px;">
      <a href='/login'><img src="/static/img/btn_login.png" style="margin-left: 110px; margin-top: 180px; border-left-width: 100px; border-top-width: 11px;"></a>
  </div>

</body>
</html>